@using ChatDoMhund.Models.Tratamento
@using ChatDoMhundStandard.Tratamento
@model ChatDoMhund.Models.ViewModels.ChatIndexViewModel

<link rel="stylesheet" type="text/css" href="@this.Model.Routes.Helper/materialize/css/pages/app-chat.css">

<input type="hidden" value="@Html.Raw(this.Model.GroupName)" id="group-name-usuario-logado" />

@foreach (string tipo in TipoDeUsuarioDoChatTrata.GetTipos())
{
	<input id="cor-@tipo" value="@CoresDosTiposDeUsuarios.GetCor(tipo)" type="hidden" />
}

<div class="chat-application">
	<div class="chat-content-head">
		<div class="header-details">
			<div class="row">
				<div class="col s8">
					<h6 class="m-0 sidebar-title animated bounceInDown"><i class="material-icons app-header-icon">mail_outline</i> @this.Model.Title</h6>
				</div>
				<div class="col s4">
					<a class="waves-effect waves-block waves-light toggle-fullscreen right animated bounceInRight" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="app-chat">
		<div class="content-area content-right">
			<div class="app-wrapper">
				<a href="#" data-target="chat-sidenav" class="sidenav-trigger hide-on-large-only animated bounceInLeft">
					<i class="material-icons">menu</i>
				</a>
				<div class="card card card-default scrollspy border-radius-6 fixed-width">
					<div class="card-content chat-content p-0">
						<partial name="_Sidebar" model="this.Model" />
						<partial name="_Content" model="this.Model" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<audio src="/sound/new-message.wav" autoplay="" autostart="false" width="0" height="0" id="new-message" enablejavascript="true"></audio>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="@this.Model.Routes.Helper/materialize/js/scripts/app-chat.min.js"></script>
<script asp-append-version="true" src="~/js/app/pesquisas/pesquisar-contatos/pesquisar-contatos-response.js"></script>
<script asp-append-version="true" src="~/js/app/pesquisas/pesquisar-contatos/main.js"></script>
<script asp-append-version="true" src="~/js/app/chat/mensagem.js"></script>
<script asp-append-version="true" src="~/js/app/chat/mensagem-lida.js"></script>
<script asp-append-version="true" src="~/js/app/chat/conversa.js"></script>
<script asp-append-version="true" src="~/js/app/chat/hub.js"></script>
<script asp-append-version="true" src="~/js/app/chat/controller.js"></script>
<script asp-append-version="true" src="~/js/app/chat/conversas.js"></script>
<script asp-append-version="true" src="~/js/app/chat/view.js"></script>