@using ChatDoMhund.Models.Tratamento
@using ChatDoMhundStandard.Tratamento
@using HelperSaeStandard11.Handlers.Extension
@using HelperSaeStandard11.Models.Extension
@using HelperSaeStandard11.Models.Infra
@model ChatDoMhund.Models.Poco.PkUsuarioConversa
@inject GroupBuilder _groupBuilder
@{
	this.Layout = null;
	string tamanhoCardEmDesktop = "l6";
	//if (this.Model.Status?.Length > 50)
	//{
	//	tamanhoCardEmDesktop = "l12";
	//}
	//else
	//{
	//	tamanhoCardEmDesktop = "l6";
	//}
}

<div selecionar-para-conversar
	 codigo="@this.Model.Codigo"
	 tipo="@this.Model.Tipo"
	 codigo-da-escola="@this.Model.CodigoDoCliente"
	 group-name="@this._groupBuilder.BuildGroupName(this.Model.CodigoDoCliente, this.Model.Tipo, this.Model.Codigo)"
	 nome="@this.Model.Nome"
	 status="@this.Model.Status"
	 class="col s12 @tamanhoCardEmDesktop xl4 pl-1 pr-1 card-width pointer">
	<div class="card card-border @CoresDosTiposDeUsuarios.GetCor(this.Model.TipoParaExibicao??this.Model.Tipo) hoverable animated bounceInUp">
		<div class="card-content pl-5 pr-5 pt-2 pb-2">
			<div class="row">
				<div class="col s4 m2">
					<img foto class="responsive-img circle z-depth-4"
						 src="@FotoTrata.ToBase64String(this.Model.Foto)"
						 alt=""
						 style="width: 40px;height: 40px; object-fit: cover;">
				</div>
				<div class="col s8 m10">
					<p class="right-align">@this.Model.Nome.GetPrimeiroEUltimoNome()</p>
					<div class="right-align">
						@{
							string textoUltimoAcesso, corUltimoAcesso;
							if (this.Model.UltimaVezOnline.IsValid())
							{
								textoUltimoAcesso = $"Ultimo acesso: {this.Model.UltimaVezOnline:dd/MM/yyyy 'às' HH:mm}.";
								corUltimoAcesso = "green";
							}
							else
							{
								textoUltimoAcesso = "Nunca acessou o chat.";
								corUltimoAcesso = "red";
							}
							<span class="ultra-small @corUltimoAcesso white-text pr-1 pl-1">@textoUltimoAcesso</span>
						}
					</div>
					<p class="right-align ultra-small hide-on-small-only">@SaeUtil.CortarTexto(this.Model.Status, 40)</p>
				</div>
				<div class="row">
					<div class="col s12">
						<p class="m-0 right-align hide-on-med-and-up">@SaeUtil.CortarTexto(this.Model.Status, 40)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>